

<div style="padding-bottom:20px;">
	<input autocomplete="off" id="pitch" type="text" class="form-control" placeholder="Wyszukaj dźwięki">
	<input autocomplete="off" id="interval" type="text" class="form-control" placeholder="Wyszukaj interwały">
	<input autocomplete="off" id="rhythm" type="text" class="form-control" placeholder="Wyszukaj rytm">
	<button onclick="doMusicSearch()" class="collection-button-search" id="searchButton">Szukaj</button>
</div>

<style>

button#searchButton {
	-webkit-transition: .3s;
	background-color: #a71b1d;
	border-radius: 21px;
	border: 1px solid transparent;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	height: 24px;
	outline: none;
	padding: 8px 0 10px;
	text-align: center;
	transition: .3s;
	width: 150px;
}

</style>


