<!--
	Template for the page footer
	vim: ts=3:nowrap
-->

<footer></footer>
{% raw %}
<script id="footer-translation" type="text/x-handlebars-template">
	<div class="footer">
		<center>
			<div style="padding-right:40px">
				<p style="display:inline; padding-right:40px"> {{powered_by}} </p>
				<a href="https://doc.verovio.humdrum.org" target="_blank">{% endraw %}{% include images/vhv-logo.html %}{% raw %}</a>
				<a href="https://www.verovio.org/index.xhtml" target="_blank">{% endraw %}{% include images/verovio-logo.html %}{% raw %}</a>
			</div>
		</center>
	</div>
</script>
{% endraw %}



<script class="translations footer-translation" type="text/x-aton">
@@BEGIN: TRANSLATION
@TAG: powered_by
@PL: Obsługiwane przez:
@EN: Powered by:
@@END: TRANSLATION
</script>



<style>

div.footer {
	border:1px solid;
	box-shadow: 5px 10px 18px #888888;
	background: #a71b1d;
	text-align: center;
}

footer img {
	height: 50px;
	padding-right: 40px;
}

</style>





